<div class="container">
  <h1>Kim jesteśmy?</h1>
  <p>
    Nasza przygoda z e-sportem zaczęła się w 2017 roku. Wtedy też zorganizowaliśmy nasz pierwszy turniej w ZSA-T
    Ropczyce. Początki były skromne. Zaczęliśmy od małych małych formatów na 8 drużyn, by z czasem przejść do formatu
    16
    lub 32 obejmującego drużyny z całego województwa. Nasze działania przyczyniły się do popularyzacji e-sportu w
    regionie. mamy doświadczenie w tym aspekcie i wiemy jak pobudzić zdolną, pełną ambicji młodzież.
    Nasz zespół to doświadczone grono młodych ludzi z pasją. Pracowaliśmy razem przy takich projektach jak ZSA-T
    e-Sport
    Masters, oraz służyliśmy pomocą przy organizacji lokalnych turniejów w kwestiach technicznych.
  </p>

</div>
