<div class="container">
  <h1>Kim jesteśmy?</h1>
  <p>
   Nasza przygoda z e-sportem zaczęła się w 2017 roku. Wtedy też zorganizowaliśmy nasz pierwszy turniej w ZSA-T
   Ropczyce. Początki były skromne. Zaczęliśmy od małych formatów na 8 drużyn, by z czasem przejść do formatu 16 lub 32
   obejmującego drużyny z całego województwa jak i poza nim. Nasze działania przyczyniły się do popularyzacji e-sportu w
   regionie. Mamy doświadczenie w tym aspekcie i wiemy jak pobudzić zdolną, pełną ambicji młodzież.
   Nasz zespół to doświadczone grono młodych ludzi z pasją. Pracowaliśmy razem przy takich projektach jak ZSA-T e-Sport
   Masters, oraz służyliśmy pomocą przy organizacji lokalnych turniejów w kwestiach technicznych.
   Chcemy rozwijać i promować e-sport w naszym regionie ale również poza nim. “e-Sport dla każdego” to nasze motto które
   przyświeca nam każdego dnia, przy realizacji oraz organizacji niezapomnianych wydarzeń.
  </p>

</div>
