.container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  background-color: #051627fa;
  padding: 50px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #EFAA54;
  font-family: 'Alatsi', sans-serif;

}

p {
  font-size: 25px;
  color: whitesmoke;
  letter-spacing: 5px;
  line-height: 45px;
  text-align: justify;
  font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width:900px) {

  .container {
    padding: 15px;
    margin-bottom: 50px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }
}
