agm-map {
  height: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Poppins',
    sans-serif;
}

.map {
  height: 60vh;
  top: 20%;
  position: absolute;
  width: 90vw;
  // max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  overflow: hidden;
}

h4 {
  font-family: 'Heebo',
    sans-serif;
  color: whitesmoke;
  text-align: center;
  margin-top: 70vh;
}


@media only screen and (max-width: 900px) {

  h1 {
    font-size: 30px;

  }

}
