.container {
  margin-top: 2vw;
  margin-bottom: 3vw;
  justify-content: left;
  width: 80vw;
  position: relative;
  flex-wrap: wrap;
  left: 50%;
  top: 20%;
  display: flex;
  transform: translateX(-50%);
}

.box {
  overflow: hidden;
  width: 300px;
  height: 187px;
  min-width: 100px;
  min-height: 67px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  width: 100%;
  height: 100%;
}

.imgBox {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.imgBox:hover {
  transform: scale(1.3) rotate(3deg);
  cursor: pointer;
  // filter: blur(1px);
}

.gallery {
  display: block;
}

.item {
  width: 100%;
}

@media (max-width: 900px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .container {
    margin-top: 2vw;
    margin-bottom: 2vw;
    justify-content: center;
    width: 90vw;
    position: relative;
    flex-wrap: wrap;
    left: 50vw;
    display: flex;
  }

  .box {
    width: 160px;
    height: 90px;
  }
}
