.container {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  left: 50%;
  position: absolute;
  justify-content: space-between;
  transform: translate(-50%, 0);
}

.card {
  flex-basis: 30%;
  width: 30vw;
  margin-top: 3vh;
}

.toolbar {
  opacity: .1;
}

.example-card {
  background-color: #051627ea;

}
