<div class="container" *ngIf="labels$ | async as labels">
  <div class="card" *ngFor="let label of labels">
    <ng-container *ngIf="label.key.slice(0, 2) == 'CS'; else lol">
      <mat-card class="example-card" *ngIf="CSimg | async as csimage">
        <mat-card-header>
          <mat-card-title>{{ label.key }}</mat-card-title>
          <mat-card-subtitle>{{ label.quantity }} zdjęć</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="csimage" alt="LOL" />

        <mat-card-actions>
          <a mat-button [routerLink]="[label.key]">Otwórz</a>
        </mat-card-actions>
      </mat-card>
    </ng-container>

    <ng-template #lol>
      <mat-card class="example-card" *ngIf="LOLimg | async as lolimage">
        <mat-card-header>
          <mat-card-title>{{ label.key }}</mat-card-title>
          <mat-card-subtitle>{{ label.quantity }} zdjęć</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="lolimage" alt="LOL" />

        <mat-card-actions>
          <a mat-button [routerLink]="[label.key]">Otwórz</a>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </div>
</div>
