button {
  margin: 10px;
  display: flex;
  align-content: center;
  content: '';
}

.toolbar {
  background-color: #1A237E;
  display: flex;
  justify-content: space-between;
}

i {
  font-size: 20px;
}


.footer {
  display: flex;
  justify-content: center;
  height: 5%;
  position: fixed;
  bottom: 0;
}

.footerClr {
  background-color: transparent;
}

.instagram:hover {
  background-color: red;
}


.instagram:hover {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.instagram {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  color: black;
  background-color: #fff;
  font-size: 15px;
  line-height: 18px;
  vertical-align: middle;
}

.instagram,
i {
  transition: .5s;
}

a:hover {
  .instagram {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
  }

  .icon-graduation-cap {
    color: #559900;
  }

  .icon-youtube-play {
    color: #cc181e;
  }

  .icon-facebook-squared {
    color: #3C5A99;
  }


}

.toolbar {
  transition: .9s;
}


.bgImageBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100vw;
  height: 100vh;


  img {
    position: fixed;
    width: 100%;
  }
}


