button {
  margin: 10px;
  display: flex;
  align-content: center;
  content: '';
}

.toolbar {
  background-color: #1A237E;
  display: flex;
  justify-content: space-between;
  transition: .9s;
}

i {
  font-size: 20px;
}


.footer {
  display: flex;
  justify-content: center;
  height: 5%;
  position: fixed;
  bottom: 0;
}

.footer-on-home {
  background-color: transparent;
}

.instagram:hover {
  background-color: red;
}


.instagram:hover {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.instagram {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  color: black;
  background-color: #fff;
  font-size: 15px;
  line-height: 18px;
  vertical-align: middle;
}

.instagram,
i {
  transition: .5s;
}

a:hover {
  .instagram {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
  }

  .icon-graduation-cap {
    color: #559900;
  }

  .icon-youtube-play {
    color: #cc181e;
  }

  .icon-facebook-squared {
    color: #3C5A99;
  }


}


.bgImageBox {
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: -3;
  opacity: .9;

  img {
    height: 99.5vh;
    height: 120vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(1.01);
  }

}



@media only screen and (max-width: 900px) {
  .bgImageBox {
    img {}
  }
}
