button {
  margin: 10px;
  display: flex;
  align-content: center;
  content: '';
}

.toolbar {
  background-color: #030a13;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 2;
  justify-content: flex-end;
  transition: .9s;

  a {

    font-family: 'Alatsi', sans-serif;
  }
}

i {
  font-size: 20px;
}


.footer {
  display: flex;
  justify-content: center;
  height: 5%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: #01040895;

}

.footer-on-home {
  background-color: transparent;
}

.instagram:hover {
  background-color: red;
}


.instagram:hover {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.instagram {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 3px;
  color: black;
  background-color: #fff;
  font-size: 15px;
  line-height: 18px;
  vertical-align: middle;
}

.instagram,
i {
  transition: .5s;
}

a:hover {
  .instagram {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
  }

  .icon-graduation-cap {
    color: #559900;
  }

  .icon-youtube-play {
    color: #cc181e;
  }

  .icon-facebook-squared {
    color: #3C5A99;
  }


}


.bgImageBox {
  overflow: hidden;
  position: fixed;
  z-index: -3;
  opacity: .9;
  width: 100%;

  img {
    // height: 120vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(1.01);
    transition: .2s;
  }

  .logo {
    width: 25vw;
    position: fixed;
    top: 8%;
    opacity: .8;
    // background-color: rgba(0, 0, 0, 0.966);
  }

}



@media only screen and (max-width: 900px) {

  .toolbar {
    position: static;
    justify-content: center;
    width: 100%;
    padding: 0;

    .link {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    a {
      width: 300px;
      transform: scale(.8);
    }

  }


  .logo {
    min-width: 300px;
  }
}
