<div class="container">
  <div class="active">
    <h1>Nadchodzące</h1>
    <div class="match-box">
      <h2> Półfinał</h2>
      <div class="info">
        <p class="team">Faze</p>
        <p class="date">11-12-2019</p>
        <p class="team">Astralis</p>
      </div>
    </div>

    <div class="match-box">
      <h2> Półfinał</h2>
      <div class="info">
        <p class="team">Faze</p>
        <p class="date">11-12-2019</p>
        <p class="team">Astralis</p>
      </div>
    </div>

    <div class="match-box">
      <h2> Półfinał</h2>
      <div class="info">
        <p class="team">Faze</p>
        <p class="date">11-12-2019</p>
        <p class="team">Astralis</p>
      </div>
    </div>

    <div class="match-box">
      <h2> Półfinał</h2>
      <div class="info">
        <p class="team">Faze</p>
        <p class="date">11-12-2019</p>
        <p class="team">Astralis</p>
      </div>
    </div>

    <div class="match-box">
      <h2> Półfinał</h2>
      <div class="info">
        <p class="team">Faze</p>
        <p class="date">11-12-2019</p>
        <p class="team">Astralis</p>
      </div>
    </div>

    <div class="match-box">
      <h2> Półfinał</h2>
      <div class="info">
        <p class="team">Faze</p>
        <p class="date">11-12-2019</p>
        <p class="team">Astralis</p>
      </div>
    </div>

      <div class="match-box">
        <h2> Półfinał</h2>
        <div class="info">
          <p class="team">Faze</p>
          <p class="date">11-12-2019</p>
          <p class="team">Astralis</p>
        </div>
      </div>

        <div class="match-box">
          <h2> Półfinał</h2>
          <div class="info">
            <p class="team">Faze</p>
            <p class="date">11-12-2019</p>
            <p class="team">Astralis</p>
          </div>
        </div>

          <div class="match-box">
            <h2> Półfinał</h2>
            <div class="info">
              <p class="team">Faze</p>
              <p class="date">11-12-2019</p>
              <p class="team">Astralis</p>
            </div>
          </div>
  </div>
  <div class="ended">
    <h1>Zakończone</h1>

  </div>
</div>
