.container {
  width: 80vw;
  min-height: 60vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  padding: 10px;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-family: 'Alatsi',
    sans-serif;
}

.active {
  margin-right: 10px;
  background-color: #051627ea;
  flex-grow: 3;
  padding: 30px;

  .match-box {
    border: 2px solid #DF8D26;
    border-radius: 2px;

    h2 {
      background-color: #051627ea;
      color: #EFAA54;

    }

    .info {


      .team {
        color: white;
      }

      .date {
        color: white;
      }
    }
  }

}

.ended {
  background-color: #051627ea;
  flex-grow: 1;
  padding: 30px;

  .match-box {
    border: 2px solid gainsboro;
    opacity: .5;

    h2 {
      background-color: #051627ea;
      color: gray;

    }

    .info {


      .team {
        color: rgb(90, 14, 60);

        .result {
          padding: 15px;
        }
      }

      .team-a {
        color: green;
      }

      .team-b {
        color: red;
      }

      .date {
        color: white;
      }
    }
  }

}

.match-box {
  position: relative;
  margin-top: 30px;

  h2 {
    position: absolute;
    top: -35px;
    left: 10%;
    display: table;
    padding: 3px;
    transform: skew(-4deg);
  }

  .info {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    position: relative;

    .live {
      position: absolute;
      top: 5%;
      right: 5%;

      p {
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: space-between;

        span {
          margin-right: 5px;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    .team {
      min-width: 35%;
      font-weight: 400;
      font-family: 'Alatsi', sans-serif;
    }

    .date-box {
      display: flex;
      flex-direction: column;
      height: 70px;
      justify-content: center;
      align-items: space-around;

      .date {
        font-size: 20px;
        display: block;
        font-family: 'Alatsi', sans-serif;
      }

      .hour {
        color: #DEB78D
      }

      .format {
        display: block;
        font-size: 15px;
        color: gold;

        font-family: 'Patua One', cursive;
      }
    }
  }
}
