.container {
  width: 100vw;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  margin-top: 10px;
  margin-bottom: 100px;

  .main_news {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 70%;
    background-color: #051627ea;

    h1 {
      color: goldenrod;
    }

    .date {
      color: whitesmoke;
    }

    img {
      width: 60%;
      font-family: 'Heebo',
        sans-serif;
    }

    .description {
      width: 85%;
      font-size: 25px;
      color: white;
      line-height: 40px;
      font-family: 'Dosis', sans-serif;
    }
  }


  .aside_news {
    width: 25%;
    background-color: #051627ea;

    .small_info_box {
      // display: flex;
      width: calc(100% - 40px);
      padding: 20px;
      flex-direction: column;
      align-items: center;
      border-bottom: dashed 1px rgba(255, 217, 0, 0.449);
      cursor: pointer;

      img {
        width: 70%;
        margin-left: 15%;
      }

      h2 {
        text-align: center;
        color: goldenrod;
      }

      p {
        color: white;
        text-align: center;
      }
    }

    .small_info_box:last-child {
      border: none;
    }

  }
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 90vw;
    margin: 10px 5vw 60px 5vw;

    .main_news {
      img {
        width: 90%;
      }
    }

    .aside_news {
      width: 100%;

      .small_info_box {
        border-top: dashed 1px rgba(255, 217, 0, 0.449);
        border-bottom: none;

        img {
          display: none;
        }
      }

      .small_info_box:last-child {
        border-top: dashed 1px rgba(255, 217, 0, 0.449);
      }

    }

    .main_news {
      width: 100%;
    }
  }
}
