.container {
  flex-direction: column;
  width: 45vw;
  background-color: rgba($color: rgb(6, 20, 39), $alpha: .99);
  margin: auto;
  padding: 30px;
  border-radius: 3px;
  margin-top: 30px;
  min-height: 560px;
}

form {
  width: 85%;

}

.center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-info {
  background-color: #042240ea;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;

  .team {
    width: 100%;
  }

  .kontakt {
    display: flex;
    width: 100%;
    justify-content: space-between;

    mat-form-field {
      width: 45%;
    }
  }
}

button {
  width: 70%;
  margin: 5px auto 20px auto;
}

input {
  color: goldenrod;
}

@media only screen and (max-width: 900px) {

  .container {
    width: 90vw;
    padding: 5px;
    margin: 0 auto 40px auto;
    height: 90vh;
    max-height: 600px;

    .team {
      flex-wrap: wrap;
      justify-content: center;
      padding: 6px 3px 6px 3px;
      height: 10%;

      input {
        width: 100%;
      }
    }

  }



}
