<div class="container">
  <h1>Formularz</h1>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Gracz 1">
      <div class="formBox">
        <signup-form [index]='0' (sendForm)='getForm($event)'></signup-form>
      </div>
    </mat-tab>
    <mat-tab label="Gracz 2">
      <div class="formBox">
        <signup-form [index]='1' (sendForm)='getForm($event)'></signup-form>
      </div>
    </mat-tab>
    <mat-tab label="Gracz 3 ">
      <div class="formBox">
        <signup-form [index]='2' (sendForm)='getForm($event)'></signup-form>
      </div>
    </mat-tab>
    <mat-tab label="Gracz 4">
      <div class="formBox">
        <signup-form [index]='3' (sendForm)='getForm($event)'></signup-form>
      </div>
    </mat-tab>
    <mat-tab label="Gracz 5">
      <div class="formBox">
        <signup-form [index]='4' (sendForm)='getForm($event)'></signup-form>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class='center'>
    <form [formGroup]="team_Form">

      <div class="team-info">
        <mat-form-field class='team'>
          <input (keyup)='getForm()' matInput formControlName='team' #team placeholder="Nazwa drużyny">
        </mat-form-field>

        <div class="kontakt">
          <mat-form-field>
            <input (keyup)='getForm()' matInput formControlName='phone' placeholder="Telefon">
          </mat-form-field>

          <mat-form-field>
            <input (keyup)='getForm()' matInput type="email" formControlName='email' placeholder="e-mail">
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="regulamin">
      <mat-checkbox [(ngModel)]='checked' (change)='getForm()'>Akceptuję </mat-checkbox>
      <a target='_blank'
        href='https://l.facebook.com/l.php?u=https%3A%2F%2Fcdn.fbsbx.com%2Fv%2Ft59.2708-21%2F80904548_118237616121892_2108658105716834304_n.pdf%2FRegulamin-egc-2020-v1doc-skonwertowany.pdf%3F_nc_cat%3D111%26_nc_ohc%3Dzs9JxGO3TBUAX97h34D%26_nc_ht%3Dcdn.fbsbx.com%26oh%3D6cc43422b606b2cb9893e4ad97aa658d%26oe%3D5E272F23%26dl%3D1&h=AT3rfYLeFay8zM1ebqk0Od8oCLy4w-syLgY2W6-ORiVDctoPFPv08DC3ZaPqA2N1Luj6Lmhdf6vFFYHRnO64zG7hLp9bNsULNLGzRZ0bEIz4jqljyR_Yb7rB-ttkoY3nx4JEynVw5T2qRkRJ'>regulamin</a>
    </div>
    <button [disabled]='!formValid ' color='primary' (click)='sign_up()' mat-raised-button>Zapisz</button>
  </div>
</div>
