.formBox {}

.container {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: rgba($color: rgb(6, 20, 39), $alpha: .99);
  margin: auto;
  padding: 30px;
  border-radius: 3px;
  margin-top: 30px;
}

button {
  width: 60%;
  margin: 5px auto 20px auto;
}

.team {
  padding: 15px;
  margin: 30px auto 30px auto;
  // background-color:rgba($color: rgb(6, 20, 39), $alpha: .99);
  background-color:rgba($color: rgb(6, 16, 34), $alpha: .99);
  width: 60%;
  border-radius: 5px;
  color: #E91E63;
  display: flex;
  align-items: center;

  p {
    text-align: center;
    font-size: 1.3rem;
  }

  input {
    height: 40px;
    flex-grow: 1;
    margin-left: 10px;
    outline: none;
    font-size: 20px;
    color: #880E4F;
    border: none;
    border-radius: 5px;
    background-color: rgba($color: rgb(11, 30, 62), $alpha: .99);
  }
}

@media only screen and (max-width: 900px) {
  .team {
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px 40px 20px;


    input {
      width: 100%;
    }
  }


}
