form {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  transform: translateX(-50%);
  top: 30%;
  left: 50%;
  background-color: #051627ea;
  padding: 40px;

  h1 {
    color: aliceblue;
    text-align: center;
  }
}

.btn-box {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

h2,
input,
p {
  color: white;

}

img {
  position: absolute;
  transform: translateX(-50%);
  top: 10%;
  z-index: -1;
  left: 50%;

}