form {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  transform: translateX(-50%);
  top: 30%;
  left: 50%;

}

.btn-box {
  width: 100%;
  justify-content: space-around;
  display: flex;
}


h2,
p {
  color: white;

}

img {
  position: absolute;
  transform: translateX(-50%);
  top: 10%;
  z-index: -1;
  left: 50%;

}
