form {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  color: whitesmoke;
}

.radio {
  color: white;
  margin: 5px;
}

.check {
  margin: 10px;
  color: rgb(204, 46, 46);
  font-family: 'Alatsi', sans-serif;
}

h1 {
  color: whitesmoke;
}

button {
  margin-top: 20px;
}

.fulllength {
  width: 100%;
  display: flex;
}

.team {
  flex-grow: 3;
}

.matches {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;

  .matchbox {
    padding: 15px;
    margin: 3px;

    p {
      color: white;

      b {
        color: wheat;
      }
    }
  }
}
